/* links */

.flink {
    color: $light_main;
    text-decoration:none;

    :link {
        color: $light_main;
    }

    :active {
        color: $light_main;
    }

    :visited {
        color: $light_main;
    }

    :hover {
        color: $light_main;
    }
}

.ulink {
    color: $text-color;
    text-decoration: none;
    //text-decoration: underline;
    //text-decoration-color: $text-color;
    //text-decoration-style: dashed;
    :link {
        color: $text-color;
    }

    :active {
        color: $text-color;
    }

    :visited {
        color: $text-color;
    }

    position: relative;

    &:hover {
        text-decoration-color: $main-color;
    }
}

.c_text {
    color: $text-color;
}

.c_main {
    color: $main-color;
}

.c_light_text {
    color: $light_text;
}

.c_light_main {
    color: $light_main;
    font-size: $type-size-5 ;
    //color: $main-color;
}

.dashed_break {
    padding-bottom: 0.1em;
    border-bottom: 2px;
    border-bottom-style: dashed;
    border-bottom-color: $lighter-text;
}

// TAGS
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
  margin: 0;
}

.tag {
  background: $light_main;
  border-radius: 6px 0 0 3px;
  color: #fff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 15px 0 5px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::after {
  background: $background-color;
  border-bottom: 13px solid transparent;
  border-left: 10px solid $light_main;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
