---
layout: default
---

{% include fix/base_path %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    <meta itemprop="headline" content="{{ page.title }}">
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}

    <div class="page__inner-wrap">
      <section class="page__content" itemprop="text">
        {{ content }}
      </section>
    </div>

  </article>

</div>
