---
layout: default
---

{% include fix/base_path %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    <meta itemprop="headline" content="{{ page.title }}">
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}

    <div class="page__inner-wrap">
        <header>
          <h2 class="page__title" itemprop="headline">{{ page.title }}</h2>
          <p class="c_light_main" >{{ page.venue }} <span style="color: #494e52">[</span> <a class="flink" href="{{ page.paperurl }}">pdf</a> <span style="color: #494e52">]</span>{% if page.videourl %}
            <span style="color: #494e52">[</span> <a class="flink" href="{{ page.videourl }}">video</a> <span style="color: #494e52">]</span>
          {% endif %}</p>
          <p>Authors: <br/>
            <span style="font-weight: 600">
            {% assign authors=page.authors%}
            {% include author-list.html %}
            </span>
          </p>

        </header>

      <section class="page__content" style="text-align:justify;" itemprop="text">
        {{ content }}
      </section>
    </div>

  </article>

</div>
